
// COLOR PALETTE
:root {
  --clr1: #222831;
  --clr2: #393E46;
  --clr3: #00ADB5;
  --clr4: #EEEEEE;
  --clr5: #2B2A33;
  --clr6: #42414D;
  --clr7: #F08A5D;

 

} 

// LAYOUT
$layoutPadding: 20px;

// LAYOUT BREAKPOINTS
$break-mobile: 600px;
$break-narrow: 1200px;
$break-normal: 1360px;
$break-wide: 1920px;

$padded-break-mobile: $break-mobile + $layoutPadding * 2;
$padded-break-narrow: $break-narrow + $layoutPadding * 2;
$padded-break-normal: $break-normal + $layoutPadding * 2;
$padded-break-wide: $break-wide + $layoutPadding * 2;

// CARD
$min-wide-card:300px