* {
  box-sizing: border-box;
}

html {}

body {
  margin: 0;
  color: var(--clr3);
  background-color: var(--clr6);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: .5em 0 .5em;
  font-family: 'Edu VIC WA NT Beginner', cursive;
}

p {
  margin: 0 0 1em;
}

a {
  text-decoration: none;
  color: unset;

  &.active {
    text-decoration: overline;
  }
}

button {
  cursor: pointer;
  background-color: var(--clr4);
  margin: 0.5em;
  border: 0;
  padding: 0.5em 0.8em;
  border-radius: 4px;

  &.clicked {
    background-color: var(--clr3);
  }

  &:hover {
    background-color: var(--clr2);
    color: var(--clr4);
    transition: .3s;
  }
}

.sortOrder-btn {
  background-color: var(--clr7);
}

/* Dont stretch my Media */
img,
embed,
video,
object {
  max-width: 100%
}

/* Simple and useful CSS Debugging Technique */
.debug * {
  outline: 1px solid gold
}