.main-layout {
  display: grid;
  grid-template-columns: 1fr 1000px 1fr;
  align-items: start;


&.app {
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}



& :not(.full) {
  grid-column: 2;
}

& .full {
  grid-column: 1/-1;
}


.container {
  max-width: 800px;
  padding: 1em;
  margin: auto;
}

footer {
  background-color: var(--clr1);
  color: var(--clr1bg);
  padding: 1em;
  text-align: center;
}
}
